.divresizer-container {
    height: 100% !important;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

.divresizer.top {
    position: relative;
    overflow: visible;
    min-height: 10px;
}

.divresizer.bottom {
    position: relative;
    min-height: 10px;
}

hr.divresizer {
    flex-shrink: 0;
    height: 4px; // Dê uma espessura física para ficar fácil de clicar
    background-color: #ccc; // Cor visível para a barra (ajuste conforme seu tema)
    border: none;
    margin: 0;
    cursor: row-resize;
    &:hover {
        background-color: #999;
    }
}
